/*-------------------------------------------------------
---- GENERAL
-------------------------------------------------------*/

body {
	color: #000;
	font-family: 'Open Sans', sans-serif;
	background: url('../img/background-pattern.gif') left top repeat;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

a, a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

i {
	font-style: normal;
}

.container {
	width: 960px;
}

/*-------------------------------------------------------
---- LAYOUT
-------------------------------------------------------*/

/*-- Header --*/
.header_top {
	height: 45px;
	background: #ff7d4d;
}

.header_lower {
	height: 80px;
	background: #FFF;
}

.header_lower .span4 {
	margin: 0;
}

.logo {
	margin: 0;
	padding: 0;
	width: 277px;
	height: 80px;
}

.logo a, .logo a:visited {
	display: block;
	margin: 0;
	padding: 0;
	width: 277px;
	height: 80px;
	font-size: 20px;
	text-indent: -9999px;
	background: url('../img/logo.gif') left top no-repeat;
}

/*-- Top Links --*/

.top_links {
	display: inline-block;
	float: left;
	margin-top: 12px;
}

.top_links a, .top_links a:visited {
	margin-right: 15px;
	color: #fff;
	text-shadow: 0 1px 0 #ff5d32;
	text-decoration: none;
}

.top_links a:hover {
	text-decoration: underline;
}

/*-- Search Bar --*/

.search_bar {
	display: inline-block;
	float: right;
	margin-top: 10px;
}

.search_bar input, .search_bar button {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0 0 0 10px;
	width: 220px;
	line-height: 24px;
	height: 24px;
	background: #F2F2F2;
	font-size: 12px;
	border: none;
	box-shadow: none !important;
}

.search_bar button {
	padding: 0 10px 0 10px;
	width: auto;
	font-size: 14px;
	color: #ccc;
}

/*-- Navigation --*/
.nav {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav li {
	display: inline-block;
}

.nav li a, .nav li a:visited {
	display: block;
	width: 100px;
	line-height: 80px;
	font-size: 24px;
	color: #33074e;
}

.nav li:nth-child(3) a {
	width: 125px;
}

.nav li a:hover {
	color: #ff7d4d;
	background: none;
}

/*-- Navigation Dropdown --*/
.nav-dropdown {
	display: none;
	position: absolute;
	padding-bottom: 20px;
	height: auto;
	background: #fff;
	z-index: 9999;
}

.nav-dropdown-left {
	padding: 10px;
}

.nav-dropdown-left p {
	pointer-events: none;
}

.nav-dropdown-right {
	padding: 0;
}

.nav-dropdown-right ul {
	margin: 0;
}

.nav-dropdown-right .span3 ul {
	margin: 0 3px 0 0;
	list-style: none;
	border-top: 2px solid #000;
}

.nav-dropdown-right .span3 ul li {
	display: block;
	padding-bottom: 5px;
	height: auto;
}

.nav-dropdown-right .span3 ul li:nth-child(1) {
	margin-top: 7px;
}

.nav-dropdown-right .span3 ul li a {
	font-size: 14px;
	line-height: 100%;
}

/*-- Carousel --*/

.carousel {
	position: relative;
	margin: 0 0 0 0;
	width: 100%;
	height: auto;
}

.carousel .item {
	width: 100%;
	height: auto;
}

.carousel .item .span12 {
	display: block;
	position: relative;
}

.carousel-controls {
	position: absolute;
	bottom: 10%;
	width: 100%;
	z-index: 4;
}

.carousel-controls-wrapper {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 163px;
}

.carousel-control {
	display: inline-block;
	background: none;
	border: none;
	color: #fff !important;
}

.carousel_item_content {
	position: absolute;
	left: 25%;
	top: 10%;
	width: 50%;
	height: auto;
	max-height: 520px;
	z-index: 3;
}

.carousel_item_content img {
	display: inline-block;
	float: left;
	margin: 0 15px 0 0;
}

.carousel_item_content p {
	display: inline-block;
	float: left;
}

.carousel_item_content p h4, .carousel_item_content p span {
	display: block;
	margin-bottom: 10px;
}

.carousel-indicators {
	position: relative;
	display: inline-block;
	width: 75px;
}

.carousel-indicators li {
	margin-top: 16px;
	background: #fff;
}

.carousel-indicators li.active {
	background: #ff7d4d;
}

/*-- Social Bar --*/
.social-bar {
	margin: 0 0 0 0;
	width: 100%;
	height: 85px;
	overflow: hidden;
	background: #fff;
	font-family: 'Georgia', serif;
}

.social-bar-section {
	margin: 0 0 40px 0;
	height: 85px;
	background-color: #fff !important;
}
.social-bar-section .span12 {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.social-bar-section .span12 p {
	margin: 0;
	line-height: 85px;
	color: #6b1937;
}

/*-- Social Bar Carousel --*/

.vertical .item {
	-webkit-transition: 0.6s ease-in-out top;
	-moz-transition: 0.6s ease-in-out top;
	-ms-transition: 0.6s ease-in-out top;
	-o-transition: 0.6s ease-in-out top;
	transition: 0.6s ease-in-out top;
}

.vertical .active {
	top: 0;
}

.vertical .next {
	top: 100%;
}

.vertical .next.left {
	top: 0;
}

.vertical .prev {
	top: -100%;
}

.vertical .prev.right {
	/*top: 0;*/
	top: -100%;
}

.vertical .active.left {
	top: 100%;
}

.vertical .active.right {
	top: 100%;
}

.vertical .item {
	left: 0;
}

/*-- Top Products Selection --*/

.top-products-selection a {
	display: block;
	margin-bottom: 20px;
	padding: 10px 0 0 0;
	height: 50px;
	border-radius: 6px;
	background: #ff7d4d;
	color: #fff;
	font-family: 'Georgia', serif;
	font-size: 24px;
	text-shadow: 0 1px 0 #f65c33;
	text-align: center;
	text-decoration: none;
}

.top-products-selection a span {
	display: block;
	padding: 3px 0 0 0;
	color: #fff;
	font-family: 'Georgia', serif;
	font-size: 12px;
	text-shadow: 0 1px 0 #f65c33;
	text-align: center;
	text-decoration: none;
}

.top-products-selection a:hover {
	background: #eda305;
	text-shadow: 0 1px 0 #e88702;
}

.top-products-selection a.active {
	background: #eda305;
	text-shadow: 0 1px 0 #e88702;
}

.top-products-selection a.active:hover {
	background: #ffbc2d;
	text-shadow: 0 1px 0 #e88702;
}

/*----- Page Header -----*/

.page-header img {
	width: 100%;
}

/*----- Page Content -----*/

.page-content .container {
	margin-bottom: 40px;
	padding: 20px 0 0 0;
	background: #fff;
}

.page-content .span9 {
	padding: 0 20px 20px 20px;
	border-left: 1px solid #ccc;
}

.page-content .span9 h3 {
	margin: 0 0 15px 0;
	font-family: 'Georgia', serif;
	color: #665699 !important;
}

.page-content .span9 h3:not(:nth-child(1)) {
	margin: 40px 0 15px 0;
}

.page-content .span3 ul {
	list-style: none;
}

.page-content .span3 a, .page-content .span3 a:visited {
	font-family: 'Georgia', serif;
	color: #665699;
	text-decoration: none;
}

.page-content .span3 a:hover {
	text-decoration: underline;
}

/*----- Footer -----*/
footer {
	padding: 20px 0 20px 0;
	background: #f5f5f5;
}

.footer-banner {
	color: #330749;
	font-family: 'Georgia', serif;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}

.footer-left {
	color: #330749;
	font-family: 'Georgia', serif;
}

.footer-left ul {
	margin: 10px 0 0 0;
	list-style: none;
}

.footer-left ul a {
	color: #330749;
}

.footer-left h5, .footer-right h5 {
	padding: 0 0 5px 0;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

.footer-right h5 {
	font-weight: normal;
}

.footer-right input {
	display: block;
	width: 95%;
	border: 1px solid #ccc;
	border-radius: 0 !important;
	background: #fff;
}

.footer-right .subscribe-email {
	display: inline-block;
	margin-right: 5px;
	width: 73.5%;
}

.footer-right button {
	display: inline-block;
	margin-bottom: 10px;
	border: none;
	border-radius: 0 !important;
	background: #fff;
}

.footer-bottom {
	height: 90px;
	background: #ff7d4d;
}

.footer-bottom h1 {
	margin: 0;
	padding: 0;
	width: 263px;
	height: 90px;
	text-indent: -9999px;
	background: url('../img/logo-bottom.gif') left top no-repeat;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}