/*-------------------------------------------------------
---- GENERAL
-------------------------------------------------------*/

body {
	color: #000;
	font-family: 'Open Sans', sans-serif;
/* 	background: url('../img/background-pattern.gif') left top repeat; */
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

a, a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

i {
	font-style: normal;
}

.container {
	width: 960px;
}

/*-------------------------------------------------------
---- LAYOUT
-------------------------------------------------------*/

/*-- Header --*/
.header_top {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 45px;
	background: #000;
}

.header_lower {
	position: absolute;
	left: 0;
	top: 45px;
	width: 100%;
	height: 80px;
	background-color: rgba(255,255,255,0.78);
	-webkit-box-shadow:  0px 4px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 4px 5px 0px rgba(0, 0, 0, 0.1);
	z-index: 10;

}

.header_lower .span4 {
	margin: 0;
}

.logo {
	margin: 0;
	padding: 0;
	width: 277px;
	height: 80px;
}

.logo a, .logo a:visited {
	display: block;
	margin: 0;
	padding: 0;
	width: 277px;
	height: 80px;
	font-size: 20px;
	text-indent: -9999px;
	background: url('../img/logo.gif') left top no-repeat;
}

/*-- Top Links --*/

.top_links {
	display: inline-block;
	float: left;
	margin-top: 12px;
}

.top_links a, .top_links a:visited {
	margin-right: 15px;
	color: #fff;
/* 	text-shadow: 0 1px 0 #ff5d32; */
	text-decoration: none;
}

.top_links a:hover {
	text-decoration: underline;
}

/*-- Search Bar --*/

.search_bar {
	display: inline-block;
	float: right;
	margin-top: 10px;
}

.search_bar input, .search_bar button {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0 0 0 10px;
	width: 220px;
	line-height: 24px;
	height: 24px;
	background: #F2F2F2;
	font-size: 12px;
	border: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	box-shadow: none !important;
}

.search_bar button {
	padding: 0 10px 0 10px;
	width: auto;
	font-size: 14px;
	color: #ccc;
}

/*-- Navigation --*/
.nav {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav li {
	display: inline-block;
}

.nav li a, .nav li a:visited {
	display: block;
	width: 100px;
	line-height: 80px;
    font-size: 16px;
     letter-spacing: 0.2em;
	color: #000000;
	text-transform: uppercase;
}

.nav li:nth-child(3) a {
	width: 125px;
}

.nav li a:hover {
	color: #ff7d4d;
	background: none;
}

/*-- Navigation Dropdown --*/
.nav-dropdown {
	display: none;
	position: absolute;
	padding-bottom: 20px;
	height: auto;
	background: #fff;
	z-index: 9999;
}

.nav-dropdown-left {
	padding: 10px;
}

.nav-dropdown-left p {
	pointer-events: none;
}

.nav-dropdown-right {
	padding: 0;
}

.nav-dropdown-right ul {
	margin: 0;
}

.nav-dropdown-right .span3 ul {
	margin: 0 3px 0 0;
	list-style: none;
	border-top: 2px solid #000;
}

.nav-dropdown-right .span3 ul li {
	display: block;
	padding-bottom: 5px;
	height: auto;
}

.nav-dropdown-right .span3 ul li:nth-child(1) {
	margin-top: 7px;
}

.nav-dropdown-right .span3 ul li a {
	font-size: 14px;
	line-height: 100%;
}

/*-- Page Wrapper --*/

.page-wrapper {
	position: absolute;
	left: 0;
	top: 125px;
	width: 100%;
	height: auto;
	z-index: 1;
}

/*-- Carousel --*/

.carousel {
	position: relative;
	margin: 0 0 0 0;
	width: 100%;
	height: auto;
}

.carousel .item {
	width: 100%;
	height: auto;
}

.carousel .item .span12 {
	display: block;
	position: relative;
}

.carousel-controls {
	position: absolute;
	bottom: 10%;
	width: 100%;
	z-index: 4;
}

.carousel-controls-wrapper {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 163px;
}

.carousel-control {
	display: inline-block;
	background: none;
	border: none;
	color: #fff !important;
}

.carousel_item_content {
	position: absolute;
	left: 25%;
	top: 10%;
	width: 50%;
	height: auto;
	max-height: 520px;
	z-index: 3;
}

.carousel_item_content img {
	display: inline-block;
	float: left;
	margin: 0 15px 0 0;
}

.carousel_item_content p {
	display: inline-block;
	float: left;
}

.carousel_item_content p h4, .carousel_item_content p span {
	display: block;
	margin-bottom: 10px;
}

.carousel-indicators {
	position: relative;
	display: inline-block;
	width: 75px;
}

.carousel-indicators li {
	margin-top: 16px;
	background: #fff;
}

.carousel-indicators li.active {
	background: #ff7d4d;
}

/*-- Social Bar --*/
.social-bar {
	margin: 0 0 0 0;
	width: 100%;
	height: 85px;
	overflow: hidden;
/* 	background: #fff; */
	font-family: 'stag-book',serif;
}

.social-bar-section {
margin: -118px 0 40px;
    position: relative;
	height: 85px;
/* 	background-color: #fff !important; */
}
.social-bar-section .span12 {
	text-align: center;
	font-size: 16px;
/* 	font-weight: bold; */
}
.social-bar-section .span12 p {
	 line-height: 20px;
    margin-top: 44px;
	color: #000;
}

/*-- Social Bar Carousel --*/

.vertical .item {
	-webkit-transition: 0.6s ease-in-out top;
	-moz-transition: 0.6s ease-in-out top;
	-ms-transition: 0.6s ease-in-out top;
	-o-transition: 0.6s ease-in-out top;
	transition: 0.6s ease-in-out top;
}

.vertical .active {
	top: 0;
}

.vertical .next {
	top: 100%;
}

.vertical .next.left {
	top: 0;
}

.vertical .prev {
	top: -100%;
}

.vertical .prev.right {
	/*top: 0;*/
	top: -100%;
}

.vertical .active.left {
	top: 100%;
}

.vertical .active.right {
	top: 100%;
}

.vertical .item {
	left: 0;
}

/*-- Top Products Selection --*/

.top-products-selection a {
display: block;
    font-family: 'Stag',serif;
    font-size: 19px;
    font-weight: 100;
    height: 15px;
    letter-spacing: 0.15em;
    margin-bottom: 20px;
    padding: 10px 0 0;
    text-align: left;
    text-transform: uppercase;
 
/* 	border-radius: 6px; */
/* 	background: #ff7d4d; */
/* 	color: #fff; */

/* 	text-shadow: 0 1px 0 #f65c33; */

/* 	text-decoration: none; */
}

.top-products-selection a span {
	display: block;
	padding: 3px 0 0 0;
	color: #fff;
	font-family: 'Merriweather', serif;
	font-size: 12px;
	text-shadow: 0 1px 0 #f65c33;
	text-align: center;
	text-decoration: none;
}

.top-products-selection a:hover {
/*
	background: #eda305;
	text-shadow: 0 1px 0 #e88702;
*/
}

/*
.top-products-selection a.active {
	background: #eda305;
	text-shadow: 0 1px 0 #e88702;
}
*/

.top-products-selection a.active:hover {
/*
	background: #ffbc2d;
	text-shadow: 0 1px 0 #e88702;
*/
}

/*----- Top Products -----*/

.top-products {
	margin-bottom: 40px;
/* 	background-color: red; */
}


.top-products .book {
	position: relative;
	display: inline-block;
	padding: 20px 20px 20px 0;
	margin: 5px;
	width: 259px;
	background: #fff;
}

/*.top-products .container .row-fluid .span12 .book:nth-child(4n+4) {
	margin: 0 0 20px 10px;
	background: #ff0000 !important;
}

.top-products .container .row-fluid .span12 .book:nth-child(4n+1) {
	margin: 0 10px 20px 0;
	background: #0000ff !important;
}*/

.top-products .book-title {
	margin-top: 15px;
	width: 258px;
	height: 60px;
/* 	text-align: center; */
}

.top-products .book-title a {
  	color: #666666;
    font-family: 'Stag',serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 0.1em;
}

.top-products .book-author {
margin-top: 10px;
width: 150px;
font-size: 12px;
font-weight: 600;
color: #320649;
float: left;
/* background-color: red; */
/* 	text-align: center; */
}

.top-products .book-author a {
	font-size: 12px;
	font-weight: 600;
	color: #000;
}

.top-products .book-price {
margin-top: 10px;
width: 60px;
font-family: 'Merriweather', serif;
font-size: 12px;
font-weight: 600;
/* background-color: grey; */
color: black;
float: left;
text-align: right;
/* 	text-align: center; */
}

.top-products .book-addtocart {
	margin-top: 10px;
	/* width: 190px; */
}

.top-products .book-addtocart .addtocart {
	background-image: url("../img/cart.jpg");
	width: 36px;
	height: 36px;
	float: right;
	margin-top: -8px;

/*
	display: block;
	margin: 0 auto;
	background: #ff7d4d;
	padding: 5px 10px 5px 10px;
	border: none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 1px 0 #f65c33;
*/
}

.top-products .book-img a img {
	width: 394px;
	height: auto;
}

/*----- Page Header -----*/

.page-header {
	padding: 0;
	margin: 0;
	border: none;
}

.page-header img {
	width: 100%;
}

/*----- Page Content -----*/

.page-content .container {
	margin-bottom: 40px;
	padding: 20px 0 0 0;
	background: #fff;
}

.page-content .span9 {
	padding: 0 20px 20px 20px;
	border-left: 1px solid #ccc;
}

.page-content .span9 h3 {
	margin: 0 0 15px 0;
	font-family: 'Merriweather', serif;
	color: #665699 !important;
}

.page-content .span9 h3:not(:nth-child(1)) {
	margin: 40px 0 15px 0;
}

.page-content .span3 ul {
	list-style: none;
}

.page-content .span3 a, .page-content .span3 a:visited {
	font-family: 'Merriweather', serif;
	color: #665699;
	text-decoration: none;
}

.page-content .span3 a:hover {
	text-decoration: underline;
}

/*----- Page Products -----*/

.page-products .container {
	margin-bottom: 40px;
}

.page-products .container .span3 {
	background: #fff;
	padding: 15px;
}

.page-products .container .span3 h5 {
	margin: 0;
	font-family: 'Merriweather', serif;
	font-size: 14px;
	font-weight: 800;
	color: #665699;
}

.page-products .container .span3 ul {
	margin: 0 0 15px 0;
	list-style: none;
}

.page-products .container .span3 p {
	margin: 0 0 15px 0;
}

.page-products .container .span3 p select {
	width: 100px;
	border: 1px solid #665699;
}

.page-products .container .span3 a i {
	margin: 0 5px 0 0;
	font-size: 14px;
	font-weight: 400;
	color: #665699;
	text-decoration: none;
}

.page-products .container .span3 a, .page-products .container .span3 a:visited {
	font-size: 12px;
	font-weight: 600;
	color: #000;
	text-decoration: none;
}

.page-products .container .span3 a:hover {
	color: #665699;
	text-decoration: none;
}

.page-products .container .span9 {
	margin-top: 20px;
	background: #fff;
}

/*----- Products Table -----*/

.products-table {
	margin: 10px;
	width: 97%;
}

.products-table tr td {
	padding: 0;
}

.products-table tr td:hover {
	background: #f9f9f9;
}

.products-table tr td:nth-child(1), .products-table tr td:nth-child(3) {
	width: 33%;
}

.products-table tr td:nth-child(2) {
	width: 34%;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.products-table tr:nth-child(1) td, .products-table tr:nth-child(2) td  {
	border-bottom: 1px solid #ccc;
}

.products-table .products-table-item {
	margin: 10px auto 10px auto;
	padding: 0;
	width: 185px;
	height: 505px;
}

.products-table-item .product-title {
	margin-top: 15px;
	width: 190px;
	text-align: center;
}

.products-table-item .product-title a {
	font-family: 'Merriweather', serif;
	font-size: 14px;
	font-weight: 600;
	color: #ff9c22;
}

.products-table-item .product-author {
	margin-top: 10px;
	width: 190px;
	font-size: 12px;
	font-weight: 600;
	color: #320649;
	text-align: center;
}

.products-table-item .product-author a {
	font-size: 12px;
	font-weight: 600;
	color: #320649;
}

.products-table-item .product-price {
	margin-top: 10px;
	width: 190px;
	font-family: 'Merriweather', serif;
	font-size: 12px;
	font-weight: 600;
	color: #000;
	text-align: center;
}

.products-table-item .product-addtocart {
	margin-top: 10px;
	width: 190px;
}

.products-table-item .product-addtocart .addtocart {
	display: block;
	margin: 0 auto;
	background: #ff7d4d;
	padding: 5px 10px 5px 10px;
	border: none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 1px 0 #f65c33;
}

.products-table-item .product-img a img {
	width: 190px;
	height: 280px;
}

/*----- Footer -----*/
footer {

	padding: 20px 0 20px 0;
	background: #f5f5f5;
}
footer.footer-bg{
	background-image: url("../img/footer-bg.jpg");
	height: 246px;
/* 	width: 1585px; */
	background-repeat: repeat-x;
}

.footer-banner {
	color: #000;
	font-family: 'Stag', serif;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	margin: 25px 0;
	letter-spacing: 0.08em;
}

.footer-left {
	color: #000;
	font-family: 'Merriweather', serif;
}

.footer-left ul {
	margin: 10px 0 0 0;
	list-style: none;
}

.footer-left ul a {
	color: #000000;
    font-family: 'Open Sans';
    font-size: 14px;
}

.footer-left h5, .footer-right h5 {
	padding: 0 0 5px 0;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

.footer-right h5 {
	font-weight: normal;
}

.footer-right input {
	display: block;
	width: 95%;
	border: 1px solid #ccc;
	border-radius: 0 !important;
	background: #fff;
}

.footer-right .subscribe-email {
	display: inline-block;
	margin-right: 5px;
	width: 73.5%;
}

.footer-right button {
	display: inline-block;
	margin-bottom: 10px;
	border: none;
	border-radius: 0 !important;
	background: #fff;
}

.footer-bottom {
	height: 90px;
	background: #000;
}

.footer-bottom h1 {
	margin: 0;
	padding: 0;
	width: 263px;
	height: 90px;
	text-indent: -9999px;
	background: url('../img/logo-wht.gif') left top no-repeat;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/**** Marty ****/
#main-image{
	background-image:url("../img/background-img.jpg");
	background-repeat: no-repeat;
	height: 1104px;
	width: 1924px;
	background-color: #fff;
	position: relative;
    top: -80px;
}
.quote-strip{
		background-image:url("../img/quote-strip.png");
		width: 1576px;
		height:121px;
}
.top-products .container .row-fluid .span12{
	height: 553px !important;
}
.arrow-box{
	height: 451px;
	width: 282px;

	  margin-top: 1%;
}
.left-box-positioning{
		left: 0px;
		position: absolute;
}
.right-box-positioning{
		right: 178px;
		position: absolute;
		
}
.box-solid{
	background-color: #dcdcdc;
}
.solid{
	background-color: #dcdcdc;
}
.arrow-box-transparent{
	height: 451px;
	width: 282px;
	background-color: #dcdcdc;
	position: absolute;
	right: 0px;
	  margin-top: 1%;
}
.arrow-box-right{
	height: 451px;
	width: 282px;
	background-color: #dcdcdc;
	position: absolute;
	right: 0px;
}
.arrow-solid{
		background-image: url("../img/arrow-solid.gif");
		background-repeat: no-repeat;
		width: 70px;
		height:115px;
		margin-left: 104px;
		margin-top: 158px;
}
.arrow-transparent{
		background-image: url("../img/arrow-transparent.png");
		background-repeat: no-repeat;
		width: 70px;
		height:115px;
		margin-left: 104px;
		margin-top: 158px;
}
.footer-banner .row-fluid ul li{
	display: inline-block;
	float:left;
	position:relative;
	margin-left: 7px;
}
.social-twitter{
	background-image: url("../img/social-twitter.png");
	background-repeat: no-repeat;
	width: 26px;
	height:26px;
}
.social-fb{
	background-image: url("../img/social-facebook.png");
	background-repeat: no-repeat;
	width: 26px;
	height:26px;
}
.social-plus{
	background-image: url("../img/social-plus.png");
	background-repeat: no-repeat;
	width: 26px;
	height:26px;
}
.social-youtube{
	background-image: url("../img/social-youtube.png");
	background-repeat: no-repeat;
	width: 26px;
	height:26px;
}
.social-nav{
/* 	background-color: red; */
	float:left;
}
.products-bar{
	background-color: #000;
	height: 1px;
	min-height: 1px !important;
}
.top-products-selection .container .row-fluid .container .row-fluid .products-bar {
background-color: #000000;
width: 100%;
}
.top-products-selection .active:after{
 background-color: #000000;
    bottom: -10px;
    content: "";
    display: block;
    font-weight: bold;
    height: 5px;
    position: relative;
    width: 200px;
}
/*
.top-products-selection .container .row-fluid .span4 .active{
	display: block;
	border-bottom: 1px solid #000;
	position: relative;
	margin-top:10px;
}
*/
.cart-count:after{
	  content: "";
	  display: block;
	  	background-image: url("../img/cart2.jpg");
	  	background-repeat: no-repeat;
    content: "";
    height: 28px;
    position: relative;
    right: 33px;
    top: -51px;
}
.top_links a:nth-child(3){
	color:#bf5621;
}